// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('http://imgur.com/gallery/n1s1GSH'),
	            
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
